<div class="speech">
    <h1>Hello from speech</h1>
    {{speech.test}}

    <div>
        <input type="text" placeholder="What's up?" ng-model="speech.speechText">
        <button ng-click="speech.startListening()">speak</button>
    </div>

    <!--<div class="si-wrapper">-->
        <!--<input type="text" class="si-input" placeholder="What's up?">-->
        <!--<button class="si-btn">-->
            <!--speech input-->
            <!--<span class="si-mic"></span>-->
            <!--<span class="si-holder"></span>-->
        <!--</button>-->
    <!--</div>-->

</div>
